.home-page {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  width: 600px;
  background-color: #000;
  border-radius: 20px;
  align-items: center;
  padding: 24px;
  margin-top: 40px;
}

.user-icon {
  height: 185px;
}

.user-infos {
  color: #fff;
  font-family: "Calibri", sans-serif;
  line-height: 40px;
  letter-spacing: 1px;
  padding-left: 18px;
}

.user-name {
  font-weight: 700;
  font-size: 32px;
}

.user-cpf {
  font-weight: 400;
  font-size: 28px;
}

.user-office {
  font-weight: 400;
  font-size: 28px;
  padding-top: 10px;
}

.set-hours-button {
  background-color: #000000;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  color: #fff;
  font-family: "Calibri", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
