.ferias {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}

.ferias-list {
  list-style: none;
  margin-left: 200px;
}

.ferias-item {
  height: 70px;
  width: 600px;
  border-radius: 12px;
  color: #fff;
  font-family: "Calibri", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 50px;
}

.text-2 {
  color: #fff;
  padding-right: 60px;
  background-color: #000;
}
