* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

&::before,
&::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Calibri", sans-serif;
  background-color: #d3d3d3;
}

a {
  display: inline-block;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
}
